@import "tailwindcss";



.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}


@font-face {
    font-family: 'newsreader-italics';
    src: url('fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('opentype');
}

@font-face {
    font-family: 'newsreader';
    src: url('fonts/Newsreader-VariableFont_opsz,wght.ttf') format('opentype');
}

body {
    color: #2596be;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

.subtitle {
    font-family: 'newsreader', sans-serif;
}

nav {
    font-family: 'newsreader', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0; 
    z-index: 1000;
}

.image-container{
    width: 250px;
    height:auto; 
    top: 100px;
    right: 200px;
    z-index:2;
    position:fixed;


}

.selfie-sticker {
    max-height: 150px; 
    max-width: 150px; 
    width: 100%; 
    height: auto; 
    transform: rotate(-10deg);
}


a:link, a:visited {
    color: #2596be;
  }

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px; 

}

nav ul li {
    margin: 0 15px; 
}



header {
    text-align: center;
}

