.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}
h1{
    margin: 0;
    padding: 10px 0;
}
h2{
    margin: 0;
    padding: 5px 0;
}

@font-face {
    font-family: 'newsreader-italics';
    font-weight: 200;
    src: url('fonts/Newsreader-Italic-VariableFont_opsz,wght.ttf') format('opentype');
}

@font-face {
    font-family: 'newsreader';
    font-weight: 200;
    src: url('fonts/Newsreader-VariableFont_opsz,wght.ttf') format('opentype');
}

body {
    font-family: 'newsreader-italics', sans-serif;
    color: #2596be;; 
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    font-size: 2rem;
    font-family: 'newsreader', sans-serif;

}

